*.iml
.gradle
/local.properties
local.properties

# IDE - ignore everything, then allow shared project settings
/.idea/*
!/.idea/codeStyles/
!/.idea/inspectionProfiles/
!/.idea/compiler.xml
!/.idea/gradle.xml
!/.idea/misc.xml
!/.idea/vcs.xml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
